{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}

<div class="sm:px-8 md:px-16 sm:py-8">
      <main class="container mx-auto max-w-screen-lg ">

        {{ form(tag_form) }}
    
        </main>

    </div>

{% dump(app.request.baseUrl) %}
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('createtag') }}
{% endblock %}
